# LGTM画像のベースURL
export LGTM_IMAGES_BASE_URL=

# LGTM画像のアップロード先S3バケット
export UPLOAD_S3_BUCKET_NAME=

# PlanetScale接続情報
export DATABASE_USER=
export DATABASE_PASSWORD=
export DATABASE_HOST=
export DATABASE_NAME=

# PlanetScale API設定（テスト用）
export PLANETSCALE_ORG_NAME=
export PLANETSCALE_SERVICE_TOKEN_ID=
export PLANETSCALE_SERVICE_TOKEN=
export PLANETSCALE_DATABASE_NAME=
export PLANETSCALE_BRANCH_NAME=

# テスト用ローカルMySQL接続情報
export TEST_DATABASE_PASSWORD=
export TEST_DATABASE_ROOT_PASSWORD=

# ログ設定
export LOG_LEVEL=INFO  # DEBUG, INFO, WARNING, ERROR, CRITICAL
